---
import { Image } from 'astro:assets';

const { title,img,price,description } = Astro.props;
---


<div class="flex flex-col max-w-[360px] gap-4">
    <div class="flex justify-center items-center">                
        <Image class='rounded-full aspect-square' width={360} height={360} alt={title} src={img} />
    </div>
    <div class="flex flex-col gap-4">
        <div class="flex items-center">
            <h1 class="flex-1 text-xl lora font-regular tracking-wide">{title}</h1>
            <p>{price}</p>
        </div>
        <p>{description}</p>
    </div>
</div>