---
import SubTitle from "../components/layouts/SubTitle.astro";
import Text from "../components/layouts/Text.astro";
const { title, img, price, description } = Astro.props;
---

<div class="flex flex-row gap-12 w-full">
  <div class="flex justify-center items-center max-w-[350px]">
    <img class="aspect-square border-2 border-black" alt={title} src={img} />
  </div>
  <div class="flex flex-col justify-center text-ng-text-content">
    <div class="flex flex-col">
      <SubTitle>
        {title}
      </SubTitle>
      <p
        class="text-ng-primary-darker tracking-wide text-sm font-[400] leading-8"
      >
        {price}
      </p>
    </div>
    {
      !price ? (
        <p class="text-sm italic">Please contact me for more information</p>
      ) : null
    }
    <Text>{description}</Text>
  </div>
</div>
