---
const { index, title, desc, traits, certifications } = Astro.props;
---

<div class="flex gap-4 w-full min-h-[250px] ">
  <div class="poppins text-xl font-regular text-ng-primary">0{index + 1}</div>
  <div class="flex flex-col border-b-2 border-ng-primary-darker w-full pb-2">
    <div>
      <h2 class="flex poppins text-xl font-semibold text-ng-primary-darker">{title}</h2>
    </div>
    <!-- <div class="min-h-[76px] poppins text-ng-text-content text-md font-[300] leading-5">
      {desc}
    </div> -->
    <div class="flex-1 flex items-start pt-2">
      <div class="w-full">
        <ul class="grid place-items-start items-center grid-cols-1 list-none gap-2">
            {certifications.map(item => {
              return (
              <li class="flex flex-col">
                  <div class="font-semibold text-ng-text-content">{item.year}</div>
                  <div class="font-medium text-ng-text-content">{item.title}</div>
                  <div class="font-regular text-ng-text-content">{item.location}</div>
              </li>
              )
            })}
      </ul>
        <ul class="grid place-items-start items-center grid-cols-2 list-none pt-4 m-0 text-ng-text-content">
          {
            traits.map((trait) => {
              return <li>+ {trait}</li>;
            })
          }
        </ul>

      </div>
    </div>
  </div>
</div>

